<%- include('partials/header') %>


<!-- ***** Welcome Area Start ***** -->

<div class="welcome-area" id="welcome">


  <!-- ***** Header Text Start ***** -->
  <div class="header-text">

    <div class="container">

      <div class="row">
        <div class="left-text col-lg-7 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <h1>One place for all your <em>Medical needs</em></h1>
          <p>Clinic is on a mission to make quality healthcare affordable and accessible for over a billion+ Indians. We believe in empowering our users with the most accurate, comprehensive, and curated information and care, enabling them to make
            better healthcare decisions.</a>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_oiuy6lnv.json" background="transparent" speed="1" style="width: 800px; height: 800px;" loop autoplay></lottie-player>

        </div>

      </div>

    </div>

  </div>

  <!-- ***** Header Text End ***** -->
</div>

<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">

  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
        <div class="features-item">
          <div class="features-icon">
            <h2>01</h2>
            <img src="assets/images/features-icon-1.svg" alt="" height="200" width="200">
            <h4>Book an appointment</h4>
            <p>Just go to the schedule tab in the header and book and appointment with a doctor or for a lab test in 2 easy steps. No choose the time and date according to your conveniance.</p>
            <a href="/schedule" class="main-button">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
        <div class="features-item">
          <div class="features-icon">
            <h2>02</h2>
            <img src="assets/images/features-icon-2.svg" alt="" height="200" width="200">
            <h4>Schedule a lab test</h4>
            <p>Visit our services tab to get details on all lab tests we provide and make an appointment to visit out best in class facilities for a lab test.</p>
            <a href="/services" class="main-button">
              Discover More
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
        <div class="features-item">
          <div class="features-icon">
            <h2>03</h2>
            <img src="assets/images/features-icon-3.svg" alt="" height="200" width="200">
            <h4>Buy medicine</h4>
            <p>Now you can buy medicine as well from out online pathology and not have to worry about lining up in pharamacies in these uncertain times. Just place an order and we will ship them.</p>
            <a href="/products" class="main-button">
              More Detail
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="left-image-decor"></div>

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="promotion">
  <div class="container">
    <div class="row">
      <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">


        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_jcsfwbvi.json" background="transparent" speed="1" style="width: 600px; height: 600px;" loop autoplay></lottie-player>


      </div>
      <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
        <ul>
          <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
            <img src="assets/images/doctor.svg" alt="" height="100" width="100" class="about-img">

            <div class="text">
              <h4>Vestibulum pulvinar rhoncus</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu et dolore magna aliqua. Ut enim ad miniquat. Duis aute irure da pariatur. .</p>
            </div>
          </li>
          <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
            <img src="assets/images/about-icon-02.svg" alt="" height="100" width="100" class="about-img">
            <div class="text">
              <h4>Sed blandit quam in velit</h4>
              <p>You can <a rel="nofollow" href="https://templatemo.com/tm-540-lava-landing-page">download Lava
                  Template</a> from our website. Duis viverra, ipsum et scelerisque placerat, orci
                magna consequat ligula.</p>
            </div>
          </li>
          <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
            <img src="assets/images/about-icon-03.svg" alt="" height="100" width="100" class="about-img">
            <div class="text">
              <h4>Aenean faucibus venenatis</h4>
              <p>Phasellus in imperdiet felis, eget vestibulum nulla. Aliquam nec dui nec augue
                maximus porta. Curabitur tristique lacus.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="right-image-decor"></div>

<!-- ***** Testimonials Starts ***** -->
<section class="section" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="center-heading">
          <h2>What They Think <em>About Us</em></h2>
          <p>Hear what our customers have to say about us and be assured of the great treatment and services we provide.</p>
        </div>
      </div>
      <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
        <div class="owl-carousel owl-theme">
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/p4.jpg" alt="Author One"></i>
            </div>
            <div class="testimonial-content">
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <h4>Jonathan Smart</h4>
              <p>“Very good app. Well thought out about booking/rescheduling/cancelling an appointment. Also, Doctor's feedback mechanism is good and describes all the basics in a good way.”</p>
              <span>Besta CTO</span>
            </div>
          </div>
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/p3.jpg" alt="Second Author"></i>
            </div>
            <div class="testimonial-content">
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <h4>Mary May</h4>
              <p>“I have tried a few of these pharmacy type sites and The Online Clinic is definitely the best so far. Rapid responses from the doctors and always next day delivery.”</p>
              <span>Web Analyst</span>
            </div>
          </div>
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/p2.jpg" alt="Author Third"></i>
            </div>
            <div class="testimonial-content">
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <h4>George</h4>
              <p>“Website is very user friendly and the appointments are available with varied slots which makes it easy to schedule according to ones own timing. It shows medicines with all gvernment regulation which provides information as well.”
              </p>
              <span>System Admin</span>
            </div>
          </div>
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/p1.jpg" alt="Fourth Author"></i>
            </div>
            <div class="testimonial-content">
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <h4>Missy Cooper</h4>
              <p>"I’ve been using the online clinic for many different medications and have always been satisfied with their products. Their service is very reliable and delivered fast. I would highly recommend them."</p>
              <span>New Villager</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Testimonials Ends ***** -->


<!-- ***** Footer Start ***** -->
<footer id="contact-us">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <!-- ***** Contact Form Start ***** -->
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="contact-form">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" id="name" placeholder="Full Name" required="" style="background-color: rgba(250,250,250,0.3);">
                  </fieldset>
                </div>
                <div class="col-md-6 col-sm-12">
                  <fieldset>
                    <input name="email" type="text" id="email" placeholder="E-Mail Address" required="" style="background-color: rgba(250,250,250,0.3);">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" rows="6" id="message" placeholder="Your Message" required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="main-button">Send Message
                      Now</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- ***** Contact Form End ***** -->
        <div class="right-content col-lg-6 col-md-12 col-sm-12">
          <h2>More About <em>Us</em></h2>
          <p>Our clinic helps patients view their scheduled appointments and delete the same. The doctors can upload and view the reports they are submitting for patients. On the other hand, the platform also takes lab
            reports which are updated & stored on the server.
            All the user records are stored & are available whenever needed for the doctors to view &
            re-evaluate from.
            Patients can make appointments depending on the availability of the doctor. Given the
            current situation, going to hospitals & waiting in lines is risky because of covid19 , this
            platform makes sure that patients arrive are the appointed time & hence reduce the social
            gathering.
            <br><br>If you need this contact form to send email to your inbox, you may follow our <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact</a> page
            for more detail.</p>
          <ul class="social">
            <li><a href="https://fb.com/templatemo"><i class="fab fa-facebook fa-lg"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin fa-lg"></i></a></li>
            <li><a href="#"><i class="fab fa-dribbble fa-lg"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="sub-footer">
          <p>Copyright &copy; 2021

            | Designed by </a>Suyasha, Sehaj, Srushti, Harshit</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>

</body>

</html>
